h1 {
  background-color: gold;}
body {
  background-color: gray;}
li a {
  color: black}
h1 {
  text-align: center;}
p {
  font-size: 54  }
li {
  font-size: 36}
h1 {
  font-size: 70}
th {
  font-size: 50}
td {
  font-size: 32}
img {
  width: 125px;
  height: 125px;}











