body {
  background-color: black}
h1 {
  background-color: gray}
h1 {
  color: gold}
li {
  color: gold}
li a {
 color: gold}
h1 {
  font-size: 65}
p {
  color: gold}
p {
  text-align: center}
p {
  font-size: 54}
li {
    text-align: center}
li {
    font-size: 45}
table {
  background-color: gold}
th {
  font-size: 50}
table {
 text-align: center}
td {
  font-size: 45}
img {
  width: 125px;
  height: 125px;}




